@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

h1 {
  text-align: center;
}

div {
  height: 500px;
  width: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
}
